@charset "UTF-8";

header{
    background-color: #BBBBBB;
    padding: 20px 0px;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 80px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: darkgoldenrod;
    text-decoration: underline;
}

.servicos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.servicos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 10px;
}

.servicos li:hover{
    border-color: darkgoldenrod;
}

.servicos li:active{
    border-color: green;
}

.servicos li:hover h2{
    font-size: 35px;
}

.servicos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}